@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    background-color: #EDEDED;
    font-family: 'Open Sans', sans-serif;
}
a:active {
    font-weight: bold;
}
/* Adblock popup */
.noblock {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-content: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 36, 29, 0.7);
}
.noblock > div {
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 25px;
    margin: auto;
    
}

/* Forms */
input, textarea {
    margin: 3px;
    border: 1px solid #26261D;
    padding: 9px;
    border-radius: 10px;
}
button {
    margin: 3px;
    border: none;
    background-color: #24BBE8;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color:rgb(86, 197, 231);
}

/* Navbar */
.mainNavbar {
    width: 100%;
    background-color: #24241D;
    padding: 10px 0px 10px 0px;
    border-bottom: #24BBE8 solid 3px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainNavbar > .account {
    background-color: #24BBE8;
    padding: 5px;
    border-radius: 10px;
    margin-right: 25px;
    text-decoration: none;
    border: solid 2px #24BBE8;
    display: flex;
    align-items: center;
}
.mainNavbar > .navItems > a {
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.mainNavbar > .navItems > a:hover {
    background-color: #24BBE8;
}
.mainNavbar > .account > * {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #24241D;
}
.mainNavbar > .account > button {
    background-color: #24BBE8;
    border: solid 2px #24241D;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.mainNavbar > .account > button:hover {
    background-color:#24241D;
    color: white;
}
.mainNavbar > a.account:hover {
    background-color: #24241D;
}
.mainNavbar > a.account {
    text-decoration: none;
    color: white;
}
.mainNavbar > .navLogo {
    margin: 10px;
}
.mainNavbar > .navLogo:hover {
    opacity: 0.7;
}
.mainNavbar > .navLogo > a {
    display: flex;
    font-family: 'Sigmar One', cursive;
    text-decoration: none;
    font-size: 30px;
    color: rgb(114, 175, 212);
    letter-spacing: -4px;
}
#toggle:checked ~ .navItems {
    display: block;
    display: flex;
    flex-direction: column;
}
#toggle:checked ~ .account {
    display: block;
    display: flex;
    flex-direction: row;
}
#toggle {
    display: none;
}
.hamburger {
    display: none;
}
@media (max-width: 945px) {
    .hamburger {
        display: block;
        font-size: 20px;
        padding: 10px;
        background-color: #24BBE8;
        border-radius: 10px;
        position: absolute;
        right: 25px;
        top: 20px;
    }
    .mainNavbar > .navItems {
        display: none;
    }
    .mainNavbar > .account {
        display: none;
    }
    .mainNavbar {
        flex-direction: column;
    }
}


/* Home */
.mainHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainHome > .welcomePanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mainHome > .welcomePanel > img {
    width: 500px;
}
.mainHome > .welcomePanel > div > button {
    padding: 15px;
    font-size: 30px;
}
.mainHome > .aboutPanels {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mainHome > .aboutPanels > div {
    margin: 10px;
    background-color: white;
    padding: 25px;
    width: 200px;
}
@media (max-width: 945px) {
    .mainHome > .welcomePanel {
        flex-direction: column;
    }
    .mainHome > .welcomePanel > img {
        width: 300px;
    }
    .mainHome > .welcomePanel > div > button {
        padding: 10px;
        font-size: 20px;
    }
    .mainHome > .welcomePanel > div {
        margin-top: 25px;
        text-align: center;
    }
    .mainHome > .aboutPanels {
        flex-direction: column;
        margin: auto;
    }
}


/* Login */
.mainLogin {
    width: 100%;
    margin: auto;
    padding-top: 25px;
}
.mainLogin > .loginBox {
    padding: 25px;
    background-color: white;
    margin: auto;
    width: fit-content;
    border-radius: 10px;
}
.mainLogin > .loginBox > form {
    margin: 15px;
}

/* FAQ */
.faqMain {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    width: 90vw;
}
.faqMain > .faqList > div {
    margin: 25px;
}

/* About */
.mainAbout {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    width: 90vw;
}
.mainAbout > .aboutParagraphs > div > p {
    margin: 25px;
}

/* Account */
.accountMain > h1 {
    margin: auto;
    text-align: center;
    padding-top: 25px;
}
.accountPanel {
    margin: 25px 100px 10px 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.accountPanel > .profilePanel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.accountPanel > .statsPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.accountPanel > .statsPanel > .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 50%;
}
@media (max-width: 945px) {
    .accountPanel {
        flex-direction: column;
        margin: 25px 25px 10px 25px;
    }
    .accountPanel > .statsPanel > .stats {
        flex-direction: column;
    }
}

/* Promocode */
.promocodeMain {
    text-align: center;
    margin: auto;
    padding-top: 25px;
}
.promocodeMain > .promocodePanel {
    background-color: white;
    width: fit-content;
    margin: 20px auto;
    padding: 30px;
}
.promocodeMain > .promocodePanel > .result {
    font-size: 20px;
    font-weight: lighter;
}

/* Payout */
.mainPayout {
    text-align: center;
    margin: auto;
    padding-top: 25px;
}
.mainPayout > .promocodePanel {
    background-color: white;
    width: fit-content;
    margin: 20px auto;
    padding: 30px;
}
.mainPayout > .promocodePanel > .result {
    font-size: 20px;
    font-weight: lighter;
}

/* Giveaway */
.giveawayMain {
    text-align: center;
    margin: auto;
    padding-top: 25px;
}
.giveawayMain > .giveaway {
    background-color: white;
    width: fit-content;
    margin: 20px auto;
    padding: 30px;
}
.giveawayMain > .giveaway > .result {
    font-size: 20px;
    font-weight: lighter;
}

/* Earn */
.earnMain > .statsPanel {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.earnMain > .statsPanel > div {
    margin: 10px;
    padding: 15px;
    background-color: #26261D;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.earnMain > .statsPanel > div:nth-child(1) {
    border-left: #E45156 solid 10px;
}
.earnMain > .statsPanel > div:nth-child(2) {
    border-left: #F8C45F solid 10px;
}
.earnMain > .statsPanel > div:nth-child(3) {
    border-left: #69E4B5 solid 10px;
}
.earnMain > .content {
    padding: 10px;
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.earnMain > .content > * {
  background-color: white;
  padding: 35px;
  margin: 30px;
}
.earnMain > .earnPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.earnMain > .offerProviders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.offerProviders > button {
  font-size: 25px;
  margin: 10px;
  color: white;
}
.offerProviders > button:nth-child(4) {
  background-color: red;
}
@media (max-width: 945px) {
    .earnMain > .statsPanel {
        flex-direction: column;
        font-size: 11px;
        padding: 5px;
    }
    .earnMain > .content {
        flex-direction: column;
    }
}

/* Admin Dashbard */
.adminMain {
    margin: 25px auto;
    width: 90%;
}
.adminMain > .adminPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.adminMain > .adminPanel > div {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

/* Daily Rewards */
.dailyMain {
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.dailyMain > .dailyAds {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dailyMain > .dailyAds > .ad {
    background-color: white;
    margin: 5px;
    padding: 10px;
}
.dailyMain > .dailyPanel {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
}
.dailyMain > .dailyPanel > .quests {
    padding: 25px;
    text-align: center;
}
.dailyMain > .dailyPanel > .achievements {
    padding: 25px;
}
.dailyMain > .dailyPanel > div > .list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.dailyMain > .dailyPanel > div > .list > div {
    padding: 5px;
    border-top: rgb(139, 139, 134) 1px solid;
}
.earnPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.earnPanel > iframe {
    width: 40%;
}
@media (max-width: 945px) {
    .earnPanel > iframe {
        width: 90%;
    }
    .dailyMain {
        flex-direction: column;
    }
    .dailyMain > .dailyPanel > .quests, .dailyMain > .dailyPanel > .achievements {
        border: none;
    }
    .dailyMain > .dailyPanel {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .earnPanel {
        flex-direction: column;
    }
}

/* Cashouts */
.cashoutsMain {
    display: flex;
    flex-direction: column;
}
.cashoutsMain > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    padding: 5px;
    align-items: center;
}
.cashoutsMain > div > .amount {
    padding: 10px;
    border-radius: 10px;
    background-color: #69E4B5;
    align-self: right;
}
